//set font
$font-size-base: 16px;

//set length of content in product post
$content-length: 50rem;

//set breakpoint
$breakpoint: 768px;

//----------------------------
//set color
$primary-color: #246DCE;
$second-color: #ff5722;
$white-color: #ffffff;
$background-color: #e5e5e5;
$second-background-color: #d9dee4;
$text-black: #2C343D;
$text-gray: #565C63;
$star-fill: #FDC80E;
$star-none: #ced0d4;
$gray-lighter:  #F8FAFD;