.breadcrumb {
    background-color: transparent;
    padding: 15px 0 10px 0;
    
    li {
        a {
            @include styleText(14px, normal, #707172, 24px);
            margin-right: 12px;
            letter-spacing: -0.017em;

            i {
                font-size: 12px;
                color: inherit;
                margin-left: 15px;
            }

            &:hover {
                color: inherit;
            }
        }
    }

    span {
        text-transform: uppercase;
        @include styleText(16px, bold, #246DCE, 24px);
    }
}

@media screen and (max-width: 767.98px) {
    .breadcrumb {
        display: none;
    }
}