#products {
    padding-top: 30px;
}

.layout-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px 15px;
}

.layout-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 15px;
}

.products-sale {
    background-color: #ffffff;
    padding: 0 30px;

    .title {
        padding: 16px 0 8px 0;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 23px;

        span {
            @include styleText(24px, bolf, #246dce, 24px);
            text-transform: uppercase;
        }
    }
}

.product {
    padding: 10px 5px;
    &:hover {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    }

    &-image {
        padding: 22px 22px;

        img {
            width: 100%;
        }
    }

    .border-blue {
        border: 1px solid #2d88ff;
    }

    &-name {
        margin-top: 13px;
        @include styleText(13px, normal, #000000, 18px);

        &:hover {
            color: inherit;
        }
    }
    &-price {
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
        margin-bottom: 20px;

        .price {
            @include styleText(16px, 600, #ff5722, 18px);
        }

        .sales {
            @include styleText(13px, 300, #6b7077, 18px);
        }
    }

    &-progress {
        border-radius: 30px;
        background-color: #ffeee8;

        .progress-bar {
            background-color: #ff5722;
            border-radius: inherit;
        }
    }
}

.on-sale {
    .product-image {
        position: relative;

        .sale-desc {
            position: absolute;
            top: 3px;
            left: 3px;
            background-color: #ff5722;
            padding: 1px 5px;
            @include styleText(11px, normal, #ffffff, 18px);
        }
    }
}

.products-brands {
    margin-top: 30px;
    margin-bottom: 30px;

    .product {
        background-color: #ffffff;
    }
}

.products-tab-wrapper {
    padding: 0 30px;
    margin-top: 30px;
    background-color: #ffffff;

    .title {
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 23px;
    }

    .product-tab {
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: center;
        gap: 50px;
        list-style-type: none;

        li {
            cursor: pointer;
            position: relative;
            text-transform: uppercase;

            a {
                text-decoration: none;
                @include styleText(16px, normal, #2c343d, 18px);
            }
        }

        .active {
            a {
                text-decoration: none;
                @include styleText(16px, bold, #246dce, 18px);
            }

            &::after {
                position: absolute;
                content: "";
                height: 2px;
                background-color: #246dce;
                width: 100%;
                bottom: -20px;
                left: 0;
            }
        }
    }

    .category-tab {
        display: flex;
        gap: 30px;
        list-style-type: none;

        li {
            padding-bottom: 12px;
            cursor: pointer;
            position: relative;

            a {
                text-decoration: none;
                @include styleText(14px, normal, #2c343d, 18px);
            }
        }

        .icon-filter {
            display: none;
        }

        .active {
            a {
                text-decoration: none;
                @include styleText(14px, normal, #246dce, 18px);
            }

            &::after {
                position: absolute;
                content: "";
                height: 1px;
                background-color: #246dce;
                width: 100%;
                bottom: 0;
                left: 0;
            }
        }
    }
}

.products-list-wrapper {
    margin-top: 55px;
    padding-bottom: 30px;
}

@media screen and (max-width: 991.98px) {
    .products-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .products-tab-wrapper {
        .category-tab {
            .icon-filter {
                cursor: pointer;
                display: block;
                color: 246dce;
            }
        }
    }
}

@media only screen and (max-width: 767.98px) {
    .products-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .products-tab-wrapper {
        padding: 0;

        .category-tab {
            gap: 20px;
        }
    }

    .products-list-wrapper {
        margin-top: 30px;
    }

    .products-sale {
        padding: 0;
    }
}

@media only screen and (max-width: 576px) {
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
